

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">





<!-- Section: Design Block  -->
<section class=" text-center text-lg-start">
  <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
    }
  </style>
  <div class="card mb-3">
    <div class="row g-0 d-flex text-center">
     
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
   
      <div class="col-lg-8 align-items-center mt-5">
        <h3>Admin Sign In</h3>
       
        <div class="card-body py-5 px-md-5">
    

          <form id="adminsignupform">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" id="form2Example1" class="form-control" name="adminname" />
              <div class="adminnameError" style="color: red;"></div>
              <label class="form-label" for="form2Example1">Admin name</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form2Example2" class="form-control" name="password" />
              <div class="passwordError" style="color: red;"></div>
              <label class="form-label" for="form2Example2">Password</label>
            </div>

            <!-- 2 column grid layout for inline styling -->
       

            <!-- Submit button -->
            <input type="submit" class="btn btn-primary btn-block mb-4" value="Sign In">
            <!-- <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button> -->

          </form>

        </div>
      </div>
    </div>
  </div>
</section>


<script>
  const form = document.querySelector('#adminsignupform');
  const adminnameError = document.querySelector('.adminnameError');
  const passwordError = document.querySelector('.passwordError');

  console.log(11111);
  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    console.log('form submitted');

    // reset errors

    console.log('at reset');
    adminnameError.textContent = '';
    passwordError.textContent = '';


    //get the values
    const adminname = form.adminname.value;
    const password = form.password.value;

    console.log(222222);



    try {
      const res = await fetch('/adminsignin', {
        method: 'POST',
        body: JSON.stringify({ adminname, password }),
        headers: { 'Content-Type': 'application/json' }
     
        

      });
      console.log(res);
      const data = await res.json();
      console.log(data);
      if (data.errorHandler) {
        adminnameError.textContent = data.errorHandler.adminname;
        passwordError.textContent = data.errorHandler.password;
        console.log('in try ');


      }
      if (data.admin) {
        console.log(3333333);
        location.assign('/admindash')
      }

    }
    catch (err) {
      console.log('in catch');
      console.log(err);
      
    }
  })
</script> 






