<!-- header -->
<div class="agileits_header">
    <div class="w3l_offers">
        <a href="/products">Today's special Offers !</a>
    </div>
    <div class="product_list_header">

        </form>
    </div>
    <div class="w3l_header_right" style="display:flex; align-items: flex-end">
        <ul>
            <li class="dropdown profile_details_drop" style="display:flex; align-items: flex-end">
                <a href="#" style="margin-left:700px" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
                <div class="mega-dropdown-menu">
                    <div class="w3ls_vegetables">
                        <ul class="dropdown-menu drp-mnu">
                            <% if(locals.user) { %>

                                <li><a href="/wishlist">My Wishlist</a></li>
                                <li><a href="/logout">Log Out</a></li>



                                <% } else { %>
                                    <li><a href="/userlogin">Login</a></li>
                                    <li><a href="/usersignup">Sign Up</a></li>


                                    <% } %>


                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="w3l_header_right1">
        <h2><a href="/">Contact Us</a></h2>
    </div>
    <div class="clearfix"> </div>
</div>


<!-- script-for sticky-nav -->
<script>
    $(document).ready(function () {
        var navoffeset = $(".agileits_header").offset().top;
        $(window).scroll(function () {
            var scrollpos = $(window).scrollTop();
            if (scrollpos >= navoffeset) {
                $(".agileits_header").addClass("fixed");
            } else {
                $(".agileits_header").removeClass("fixed");
            }
        });

    });
</script>
<!-- //script-for sticky-nav -->
<div class="logo_products">
    <div class="container">
        <div class="w3ls_logo_products_left">
            <h1><a href="/"><span>Grocy</span> Kart</a></h1>
        </div>
        <div class="w3ls_logo_products_left1">
            <ul class="special_items">
                <li><a href="/products">Products</a><i>|</i></li>


                <% if(locals.user) { %>
                    <li><a href="/wishlist">My wishlist</a><i>|</i></li>
                    <li><a href="/cart">My Cart</a><i>|</i></li>
                    <li><a href="/userProfile">My Profile</a><i>|</i></li>
                    <li><a href="/logout">Log Out</a></li>

                    <% } %>
            </ul>
        </div>
        <div class="w3ls_logo_products_left1">
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //header -->