<!-- coupon form -->
<form id="couponform" class="card p-2">
				
    <div class="input-group">
        <select class="form-select" name="coupon" aria-label="Default select example">
            <option selected disabled>Choose...</option>
            <% coupon.forEach(function(coupon) { %>
                <option value="<%= coupon.couponCode %>"><%= coupon.couponCode %></option>							
                <% }) %>
        </select>
        <input type="hidden" class="form-control" name="amount" value="<%= totals %>">
            <button type="submit" class="btn btn-primary">Redeem</button>
    </div>

        <h5 class="text-success text-center" id="success" ></h5>
        
</form>