

<table style="margin-top: 100px; margin-bottom: 400px;" class="timetable_sub">
    <thead>
        <tr>
            <th>SL No.</th>	
            <th>Product</th>
            <th>Product Name</th>
            <th>Order Status</th>
            <th>Cancel</th>
        </tr>
    </thead>
    <tbody>
         <tr class="rem1"> 
        <td class="invert">1</td>
        <td class="invert"></td>
        <td class="invert"></td>
        <td class="invert"></td>
        <td class="invert"><button class="btn btn-danger">Cancel</button></td>

</tbody></table>