<!-- login -->
<div class="container">
    <h2 style="text-align: center; font-family:Verdana, Geneva, Tahoma, sans-serif ;font-weight: bold;">OTP</h2>

    <div class="login-form-grids animated wow slideInUp d-flex align-items: center" data-wow-delay=".5s">
        <form id="form">
            <label>Enter the OTP</label>
            <input type="number" name="otp" placeholder="Enter OTP" required>
            <div class="emailError" style="color: red;"></div>

            <input type="submit" style="background-color:#FA1818; color:white; border-radius: 0rem; border: none;">
        </form>

    </div>