<!-- login -->
<div class="w3_login">
  <h3>Sign In</h3>
  <div class="w3_login_module">
    <div class="module form-module">
      <div class=""><i class=""></i>
        <div class="tooltip">Click Me</div>
      </div>
      <div class="form">
        <h2>Login to your account</h2>
        <form id="signinform">
          <input type="text" name="username" placeholder="Username">
          <div class="usernameError" style="color: red;"></div>
          <input type="password" name="password" placeholder="Password">
          <div class="passwordError" style="color: red;"></div>
          <input type="submit" value="Login">
        </form>
      </div>

      <div class="cta"><a href="/usersignup">Create an account</a></div>
    </div>
  </div>

</div>
<!-- //login -->

<script>
  const form = document.querySelector('#signinform');
  const usernameError = document.querySelector('.usernameError');
  const passwordError = document.querySelector('.passwordError');


  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors

    usernameError.textContent = '';
    passwordError.textContent = '';

    //get the values
    const username = form.username.value;
    const password = form.password.value;

    try {
      const res = await fetch('/userlogin', {
        method: 'POST',
        body: JSON.stringify({ username, password }),
        headers: { 'Content-Type': 'application/json' }

      });
      const data = await res.json();
      if (data.errorHandler) {
        usernameError.textContent = data.errorHandler.username;
        passwordError.textContent = data.errorHandler.password;
      }

      if (data.user) {
        location.assign('/')
      }

    }
    catch (err) {
      console.log(err);
    }
  })
</script>